@import './../../shared.scss';

.about {
  @include containerPadding;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include sectionTitle;
  }

  &__information {
    width: 100%;
    background-color: var(--primary-white-dark);
    padding: 2rem;
    height: 24rem;
  }
}

.information {
  &__subtitle {
    @include sectionSubtitle;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  &__text {
    @include sectionText;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  padding: 2rem;
  margin-top: -5.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);

  &__subtitle {
    @include sectionSubtitle;
    margin-bottom: 2rem;
  }

  &__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
