.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  align-self: center;

  &__image {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 1.5rem;
  }

  &__name {
    color: var(--primary-gray-dark);
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
}
