@use './../../shared.scss' as s;

.navbar {
  @include s.containerPadding;

  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: var(--primary-gray-dark);
  @include s.transition(background-color);

  &--transparent {
    @extend .navbar;
    background-color: transparent;
  }

  &__left {
    width: auto;
  }

  &__right {
    width: auto;
    &-link {
      &:link,
      &:visited {
        font-weight: 300;
        color: var(--general-white);
        font-size: 1.8rem;
        text-decoration: none;
        @include s.transition(color);
        &:not(:first-child) {
          margin-left: 4rem;
        }
      }
      &:hover {
        color: white;
      }
    }
  }
}
