@mixin containerPadding {
  padding: 0 6rem;
}

@mixin sectionTitle {
  color: var(--primary-gray-dark);
  font-size: 4.3rem;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: 1.5px;
}

@mixin sectionSubtitle {
  font-size: 1.9rem;
  color: var(--primary-gray-dark);
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

@mixin sectionText {
  font-size: 1.8rem;
  color: var(--primary-gray-dark);
}
